# Виртуальное окружение
venv/
env/

# Файлы Python
*.pyc
__pycache__/
*.pyo
*.pyd

# База данных SQLite
db.sqlite3

# Локальные настройки
.env

# Статические файлы, собранные для продакшена
staticfiles/

# Логи и временные файлы
*.log
*.pot
*.DS_Store

# IDE и редакторы
.idea/
*.swp